@font-face {
    font-family: "Raleway";
    src:url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff) format('woff'),
    url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --alt-text-color: #FFFFFF;

    --line-bg: #FFFFFF; /* верхняя линия */
    --dark-bg: #2F303A; /* шапка */
    --card-bg: #FFFFFF; /* карточки команды */
    --team--bg: #F5F4FA; /* шапка команды */
    --footer-bg: #2F303A; /* нижняя часть */

    --main-font: "Roboto", sans-serif; /* основной текст */
    --name-site: "Raleway", sans-serif; /* названия сайта */
}

body {
font-family: var(--main-font);
}

